---
---
@import "{{ site.theme }}";

section {
  width:700px;
  float:right;
  padding-bottom:50px;
}


a {
  color:#28B573;
  text-decoration:none;
}

a:hover, a:focus {
  color:#28B573;
  font-weight: bold;
}
